@import "welcome.css";

:root {
  --background: #dfecff;
  --welcome: #cedfff;
  --footer: blanchedalmond;
  --duck: rgb(255 246 214);
  --duckEye: #313135;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Dongle", sans-serif;
  background-color: var(--background);
  scroll-behavior: smooth;
}
.root-section-parent {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-y: hidden;
  position: relative;
}
.root-section {
  width: 100%;
  height: 100vh;
}
.root-section:last-child {
  background-color: var(--footer);
}
