@import "charactor/welcomeDuck.css";

.root-section[data-index="0"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transition: top 1s ease-out;
  background-color: var(--welcome);
  overflow-y: hidden;
}

.root-section.fade-out {
  top: -400vh;
}

.root-section[data-index="0"] .container {
  animation: identifier 2s ease-out 1;
}
@keyframes identifier {
  0% {
    transform: translate(-50%, 100%);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
